#profilepic {
    border-radius: 50%;
    border-color: black;
    max-width: 40%;
    max-height: 40%;
    margin: auto;
    margin-top: 15%;
}

#part1 {
    max-width: 100%;
    max-height: 35%;
    background-color: rgb(40, 4, 105);
}

#prof {
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}

hr {
    color: black;
    height: 0.2px;
}

#hospitalname {
    font-size: 20px;
}

#details {
    margin-top: 20px;
}